<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user to SpringBoot01</title>
</head>
<body>
<div class="col-3">
    <div class="container col-3">
        <h1>Create new User</h1>
        <form th:object="${employee}" th:action="@{save}" method="post">
            <label th:text="Name" th:for="name"></label>
            <input type="text" th:field="*{name}" placeholder="Name"/><br>

            <label th:text="Wage" th:for="wage"></label>
            <input type="text" th:field="*{wage}" placeholder="Wage"/><br>

            <input type="submit" value="Save"/>
        </form>
    </div>
</div>

</body>
</html>