<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css"  th:href="@{bootstrap.min.css}"/>
    <title>User from SpringBoot01</title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>User Management</h1>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Wage</th>
        </tr>
        <tr th:each="employees: ${employees}">
            <td th:text="${employees.name}"></td>
            <td th:text="${employees.wage}"></td>
        </tr>
    </table>
    <a href="/add">Create User</a>
</div>

</body>
</html>